/* Color Theme Swatches in Hex */
$main: #2B04E8;
$light: #4A40FF;
$royal-purple-3-hex: #5009FF;
$royal-purple-4-hex: #6A12E8;
$royal-purple-5-hex: #8B09FF;

/* Color Theme Swatches in RGBA */
$royal-purple-1-rgba: rgba(42,3,232, 1);
$royal-purple-2-rgba: rgba(73,63,255, 1);
$royal-purple-3-rgba: rgba(80,8,255, 1);
$royal-purple-4-rgba: rgba(105,18,232, 1);
$royal-purple-5-rgba: rgba(138,8,255, 1);