@import "assets/_vars.scss";

.news-list-item {
  margin-bottom: 2em;
  max-width: 45vw;
  box-sizing: border-box;
  padding: 1em;
  border: 0.5px solid $link;
}
.news-header {
  font-weight: bold;
  color: $link;
  margin-bottom: 1em;
  text-align: center;
}
article p {
  text-indent: 2em;
  line-height: 1.2;
  font-size: 1.2em;
}